<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> wanterlust</title>
</head>
<body>
    <footer>
        <div class="f-info   ">
            <div class="f-social">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
             <div> &copy;wanderlust pravite limited</div>
             <div class="f-info-links">
                <a href="/privacy">privacy</a>
                <a href="/terms">terms</a>
             </div>
        </div>
    </footer>
</body>
</html>